*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 35px;
}

#right a{
    padding-right: 15px;
}
.allsurvey{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 70px;
}
.survey{
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    width: 250px;
    height: 250px;
    background-color: rgb(240, 240, 240);
}
.survey h1{
    border-radius: 12px 12px 0 0;
    font-size:30px;
    height: 50px;
    overflow: hidden;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
    padding:20px 25px;
    background-color: rgb(47 113 255);
}
.survey p{
    font-size: 20px;
    color: rgb(70, 70, 70);
    padding: 20px 25px;
}
#sideimg1{
    width: 700px;
    height: 700px;
    position: fixed;
    border: none;
    outline: none;
    top: 100px;
    z-index: -2;
    opacity: 0.6;
}
#sideimg2{
    width: 700px;
    height: 700px;
    position: fixed;
    border: none;
    outline: none;
    right: 10px;
    z-index: -2;
    opacity: 0.6;
}
#deletesurvey{
    border-radius: 0 0 12px 12px;
    font-size:15px;
    font-weight: 100;
    margin-top: 30px;
    color: white;
    margin-bottom: 0;
    padding:20px 25px;
    height: 17px;
    background-color: rgb(47 113 255);
}
